<!-- <p id="notice"><%= notice %></p> -->
<div class="column" >
<center><h1>STORES</h1></center>
<center>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Colour</th>
      <th>Brand</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.price %></td>
        <td><%= store.colour %></td>
        <td><%= store.brand %></td>
        <td><%= store.description %></td>
        <td><%= link_to 'Show', store, class:"p-0 ml-3 mr-3 pr-4", class:"text-white" %></td>
        <td><%= link_to 'Edit', edit_store_path(store), class:"p-0 ml-3 mr-3 pr-4", class:"text-white"  %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' }, class:"p-0 ml-3 mr-3 pr-4", class:"text-white"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="btn btn-info btn-lg">               
<div class="king3">
<%= link_to 'New Store', new_store_path, class:"text-white" %>
</div></div>
</center>
</div>