<!-- start header section --> 
<div class="layout_area"> 
<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
       <a class="navbar-brand" href="index.html"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item">
                <a class="nav-link" href="#home"> Home </a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="#about"> About </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#watches"> Our Watches </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a></li>   
              </li>


              <li class="nav-item">
                <li><% if session[:admin] %>
                <a class="nav-link" href="/admin/logout">Admin Logout</a></li>   <% else %>
                <a class="nav-link" href="/admin/login">Admin Login</a></li>
                    <% end %>
              </li>

              <li class="nav-item">
                <li><% if user_signed_in? %>
                <a class="nav-link" href="#sign_in">Sign out</a></li>   
                <% else %>
                <a class="nav-link" href="#sign_in">Sign in</a></li>
                <% end %>
              </li>

              
              <li class="nav-item">
                <a class="nav-link" href="/gallery/index"> Gallery </a>
              </li>
            </ul>

            <%= form_tag("/gallery/search", method: "get") do %>
            <!-- <%= label_tag(:Search) %> -->
            <%= text_field_tag(:search) %>
              <!--<%= submit_tag("Search") %> -->
            <%= submit_tag "Search", class: "btn btn-info", style: "margin-right: 10px;" %>
            <% end %>
          </div>
        </div>
    </nav>
  </div>
</header>
</div>
<!-- end header section -->
