<div class="column" >
<center><h1>WATCH GALLERY</h1></center>
<br>
<table>

	<tr>
		<% count=0 %>
		<% @watches.each do |watch| %>

		<% if (count % 5) == 0 %>
	</tr>
	<tr>
	<% end %>
		<% count+=1 %>
		<td class="gallery_td"><%= image_tag watch.product_image , :height=>"200", :width=>"200" %><br />
			<br>
			Name : <%= watch.name %><br />
			<br>
			Price : Rs.<%= watch.price %><br />
			<br>
			Colour : <%= watch.colour %><br />
			<br>
			Brand : <%= watch.brand %><br />
			<br>
			Description: <%= watch.description %><br />
			<br>
			
			<div class="btn btn-info btn-sm">               
			<%= button_to 'Add to Cart', line_items_path(:store_id => watch.id), class:"p-0 ml-3 mr-3 pr-4" %>
		</td>
			<% end %>
		</tr>
	</table>
</div>
